lex.yy.c
parser.tab.c
parser.tab.h
parser.output
etapa1
etapa2
etapa3
etapa4
etapa5
etapa6
*.log
sample
vgcore.*
test/*_diff.txt
test/*_out.txt
test/*_out2.txt
test/*_valgrind.txt
test/*_mem.txt
test/*_iloc.txt